@use 'scss-variables' as *;

html {
    background: black;
    min-height: 100%;
    display: flex;
    align-items: stretch;
    font-size: $base-font-size; // explicitly establishes a base font size in pixels
}

body {
    font-size: 100%; // makes the browser use relative units for future calculations. All rem units will be based on this, which in turn refers to the base font size.
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

body,
body > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
    color: ivory;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

main {
    display: flex;
    align-items: stretch;
    width: 100%;
}
