:root {
    .dark-mode {
        --color1: #00a6fb;
        --color2: #0582ca;
        --color3: #006494;
        --color4: #003554;
        --color5: #051923;
        --color6: black;
        --color7: #01263B;
        --color8: #aae0fb;
        --color9: #6fc3fb;
        --color10: #f9fef0;
        --color11: #ffd965;
        --happy-green: #7dff3b;
        --loss-color: #ff3d3d;
        --dark-loss: rgba(0,0,0, .3);
        --scrollbar-thumb-color: rgba(67, 125, 178, .4);
        --scrollbar-thumb-border: rgba(81, 147, 209, .4);
        --scrollbar-thumb-color-hover: rgba(81, 147, 209, 1);
    }
}
