:root {
    .dark-mode {
        --color1: #00a6fb;
        --color2: #0582ca;
        --color3: #006494;
        --color4: #003554;
        --color5: #051923;
        --color6: black;
        --color7: rgba(0, 53, 84, .5);
    }
}
