$base-font-size: 16px;
$background-primary: var(--color5);
$background-secondary: var(--color4);
$background-tertiary: var(--color6);
$background-four: var(--color7);
$background-five: var(--color3);
$background-six: var(--color1);
$contract-text-shadow: var(--color6);
$date-header-text-color: var(--color8);
$date-header-background-color: var(--color3);
$table-head-shadow: var(--color4);
$detail-label-color: var(--color9);
$body-text-color: var(--color10);
$detail-disclaimer-text: var(--color10);
$profit-color: var(--happy-green);
$loss-color: var(--loss-color);
$text-glow-color: var(--color1);
$loss-glow-color: var(--dark-loss);
$button-color-main: var(--color1);
$button-color-main-2: var(--color2);
$button-color-main-dark: var(--color5);
$graph-text-color: var(--color1);
$scrollbar-thumb-color: var(--scrollbar-thumb-color);
$scrollbar-thumb-border: var(--scrollbar-thumb-color);
$scrollbar-thumb-color-hover: var(--scrollbar-thumb-color-hover);
$connection-stalled-color: var(--color11);
$connect-button-color: var(--color8);
$connect-button-text: var(--color6);
