@use '../../scss-global/component-init' as *;

tr.dateRow {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    z-index: 2;

    &:not(:first-child) {
        border-top: rem(4px) solid $background-tertiary;
    }

    &Hidden {
        opacity: 0;
    }
}

thead tr.dateRow:not(:first-child) {
    border-top: none;
}

.dateHeader {
    background: $date-header-background-color;
    font-size: rem(14px);
    font-weight: 400;
    color: $date-header-text-color;
    padding: rem(4px) rem(10px);
    border-bottom: rem(1px) solid $date-header-background-color;
    text-shadow:  rem(1px) rem(1px) 0 var(--color4);
}


.dateLabel {
    margin-left: rem(6px);
    text-transform: uppercase;
    font-size: rem(8px);
}
