.BitcoinPriceRow {

    .cents {
        font-size: .7em;
        position: relative;
        top: -.3em;
    }

    .dolladollabillyall {
        font-size: .8em;
        position: relative;
        top: -.2em;
    }
}

