@use 'scss-global/component-init' as *;

.mainContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: rem(500px) auto;
    grid-template-rows: rem(80px) auto rem(40px);
    grid-template-areas:
            'header header'
            'contracts details'
            'footer footer';
}

.appHeader {
    grid-area: header;
    background: $background-tertiary;
}

.contractPanel {
    grid-area: contracts;
    background: $background-primary;
    border-right: rem(1px) solid $background-tertiary;
}

.detailPanel {
    grid-area: details;
    background: $background-secondary;
    border-left: black;
}

.appFooter {
    grid-area: footer;
    background: $background-primary;
}

